/* Import CSS *//* Import CSS *//* Import CSS *//* Import CSS */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import 'header.css';
@import 'general.css';
@import 'footer.css';
/* Import CSS *//* Import CSS *//* Import CSS */

/* SECTION *//* SECTION *//* SECTION *//* SECTION */
article > h2{
  color: #3f51b5;
  text-shadow: 2px 2px 2px white ;
  font-family: 'Lato';
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
article{
  padding-top: 50px;
  padding-bottom: 35px;
  background-color: rgba(63, 81, 181, 0.3);
  width: 100%;
  border-bottom: 2px solid black;
}
img{
  width: 95%;
  height: 95%;
}  
section{
  background-color: rgba(63, 81, 181, 0.3);
}
#imgarticle{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.textarticle > a{
  color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 12px;
}
.date{
  margin-top: 10px;
  font-size: 2vh;
  font-family: 'Lato';
}
.descart{
  font-size: 2.4vh;
}
h3{
  color: #3f51b5;
  text-shadow: 2px 2px 2px white ;
  font-family: 'Lato';
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
/* FIN SECTION *//* FIN SECTION *//* FIN SECTION */

/* PAGINATION *//* PAGINATION *//* PAGINATION *//* PAGINATION */
#pages {
  display: inline-block;
}

#pages a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

#pages a.active {
  background-color: #4CAF50;
  color: white;
}
#pages a:hover:not(.active) {background-color: #a833ff;}
#pagination{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* FIN PAGINATION *//* FIN PAGINATION *//* FIN PAGINATION */

/* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES *//* MEDIA QUERIES */
@media (min-width:1000px)  {
  body{
    width: 80%;
  }
  p{
    font-size: 1.4em;
  }
  article h2{
    font-size: 2.3em;
  }
  div#slider { overflow: hidden; margin: 0 auto; max-width: 100%;
  }
  img{
  width: 80%;
  height: 80%;
  }
  header{
    width:80%; 
  }
.material-icons
{
  font-size:24px;
  margin-right:12px;
  vertical-align:text-bottom;
}

.menu
{
  background:#3f51b5;
  color:#fff;
  height:50px;
  
}

.menu .title
{
  font-size:30px;
  font-weight:bold;
  line-height:50px;
  padding:0 20px;
  text-transform:uppercase;
  position: relative;
}

.menu nav
{
  background:inherit;
  font-size:20px;
  font-weight:bold;
  height:0;
  overflow:hidden;
  text-transform:uppercase;
  -webkit-transition:height .2s;
  -o-transition:height .2s;
  transition:height .2s;
  text-align: left;
}

.menu nav > *
{
  display:block;
  z-index: 3;
  letter-spacing:1px;
  line-height:2.5;
  padding:0 20px;
  width:100%;
}

.menu nav input
{
  background:rgba(0,0,0,.2);
  border:none;
  color:#fff;
  text-align: left;
}

.menu .burger
{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-family:'Material Icons';
  font-size:30px;
  line-height:50px;
  margin:0;
  outline:0;
  padding:0;
  position:absolute;
  text-align:center;
  top:0;
  right:20px;
  width:50px;

}

.menu .burger:before
{
  content:'menu';
}

.menu .burger:checked:before
{
  content:'close';
}

.menu .burger:checked + nav
{
  height:calc(100vh - 50px);
  z-index: 4;
  position: relative;
}
}
/* FIN MEDIA QUERIES *//* FIN MEDIA QUERIES *//* FIN MEDIA QUERIES */

/* INSCRIPTION *//* INSCRIPTION *//* INSCRIPTION *//* INSCRIPTION */

#inscription{
  margin-top: 50px;
  max-height: 1080px;
}
#footer2{
  position: relative;
  bottom: 0;
  width: 100%;
}
#divdejainscrit{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
}
/* FIN INSCRIPTION *//* FIN INSCRIPTION *//* FIN INSCRIPTION */

/* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT */
#logocontact{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/* FIN CONTACT *//* FIN CONTACT *//* FIN CONTACT */
.row{
  margin-right: 0;
}

/* COMMENTAIRE *//* COMMENTAIRE *//* COMMENTAIRE */
div > #imgcomm{
  border-radius: 50%;
  height: 20%;
  width: 20%;
}
#sectionCom{
  border-top: 3px solid #3f51b5;
  padding-left: 15px;
  padding-bottom: 20px;
}
section > #nbcom{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Lato';
  font-size: 26px;
}
.containercom{
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 3px solid #c3c3c3;
  border-radius: 20% 0 0 0;
}
#com{
  background-color: #3f51b5;
  color: white;
  width: 100%;
}
#contTextArea{
  margin-top: 15px;
  margin-left: -15px;
  display: flex;
  justify-content: center;
}
#textareaCom{
  text-align: center;
  height: 120px;
  max-height: 320px;
  border-radius: 10px;
  margin-top: 10px;
}
#formCom{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#boutonCom{
  font-family: 'Lato';
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  height: 45px;
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(white,rgba(63, 81, 181, 0.4)); 
}
#boutonCom:active{
  color: rgba(63, 81, 181, 1);
}
#boutonCom:hover{
  color: rgba(63, 81, 181, 1);
  background-color: grey;
}
div.boutonsuite{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
div.boutonsuite > button{
  height: 30px;
  width: 100px;
  margin-top: 35px;
  font-family: 'Lato';
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px; 
  border: none;
  background-image: linear-gradient(white,rgba(63, 81, 181, 0.4)); 
}
div.boutonsuite button > a{
  color: black;
}
div.boutonsuite button > a:hover{
  color: rgba(63, 81, 181, 1);
  
}
div.boutonsuite button > a:active{
  color: rgba(63, 81, 181, 1);
}
div.boutonsuite > button:hover{
  background-color: grey;
}
div.boutonsuite > button:active{
  background-color: grey;
}
div.iconcom{
  align-self: flex-end;
  margin-left: 20px;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 5px;
}
div.iconcom > a{
  color: black;
  font-weight: bold;
}
/* FORMULAIRE CONNEXION *//* FORMULAIRE CONNEXION *//* FORMULAIRE CONNEXION */
#forminscrip{
  line-height: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
#forminscrip > input{
  border-radius: 20px;
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
/* FORMULAIRE CONNEXION *//* FORMULAIRE CONNEXION *//* FORMULAIRE CONNEXION *//* FORMULAIRE CONNEXION */